SECRET_KEY={{ injecttool_secret_key }}
DEBUG={{ injecttool_debug }}
IMAGE_USER={{ injecttool_image_user }}
IMAGE_PASSWORD={{ injecttool_image_password }}
CRYOWEB_INSERT_ONLY_PW={{ injecttool_cryoweb_insert_only_pw }}
USI_MANAGER={{ injecttool_usi_manager }}
USI_MANAGER_PASSWORD={{ injecttool_usi_manager_password }}
EMAIL_BACKEND=djcelery_email.backends.CeleryEmailBackend
CELERY_EMAIL_BACKEND={{ injecttool_celety_mail_backend }}
DEFAULT_FROM_EMAIL={{ injecttool_email_host_user }}
EMAIL_HOST={{ InjectTool_emal_host }}
EMAIL_HOST_USER={{ injecttool_email_host_user }}
EMAIL_HOST_PASSWORD={{ injecttool_email_host_password }}
EMAIL_USE_TLS={{ injecttool_email_use_tls }}
EMAIL_PORT={{ injecttool_email_port }}
